# Operating System Files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

# IDE and Editor Files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment / Sensitive Files
.env
config.local.php

# Logs & Temporary Files
*.log
tmp/
error_log

# Project Documentation (Local documents)
documentation/
*.docx
